name: Build image

on:
  push:
    branches: ["main"]
    tags:
      - 'v*.*.*' # glob for semver tags (including prereleases)
  pull_request:
    branches: [main]

jobs:
  call-build-image:
    uses: osg-htc/build-push/.github/workflows/build-push.yaml@main
    secrets:
      password: ${{ secrets.OSG_HARBOR_ROBOT_PASSWORD }}
      username: ${{ secrets.OSG_HARBOR_ROBOT_USER }}
    with:
      image: 'hub.opensciencegrid.org/chtc/chtc-user-app-api'
